<div flex layout="row">
    <div layout="column" flex="90" flex-offset="5">
        <div class=" " layout="column">
            <h2>&nbsp; </h2>
            <div layout="row" class="md-margin">
                <div layout="column" flex="40" flex-offset="30" class="md-whiteframe-4dp md-padding whitebg">
                    <div ng-cloak>
                        <md-content>
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab label="View log">
                                    <md-content class="md-padding">
                                        <h4>View reports</h4>
                                        <form ng-submit="$event.preventDefault()">
                                            <md-autocomplete ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-item-text="item.display" md-min-length="0" placeholder="Select a Data Source" required>
                                                <md-item-template> <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span> </md-item-template>
                                                <md-not-found> No sources matching "{{searchText}}" were found. <a ng-click="newState(searchText)">Create a new one!</a> </md-not-found>
                                            </md-autocomplete>
                                            <br>
                                            <md-input-container class="md-block">
                                                <label>Select Batch</label>
                                                <md-select name="type" ng-model="project.type" required>
                                                    <md-option value="app">Batch 1 </md-option>
                                                    <md-option value="web">Batch 2</md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>Comments about the log files</label>
                                                <textarea ng-readonly="true" ng-model="user.biography" md-maxlength="100" rows="3" md-select-on-focus>How many roads mus a man walk down
                                                </textarea>
                                            </md-input-container>
                                            <div layout="row" layout-align="left">
                                                <md-button class="md-raised md-primary">View</md-button>
                                            </div>
                                            <p> </p>
                                        </form>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Upload log">
                                    <md-content class="md-padding" id="popupContainer" ng-cloak>
                                        <h4>Upload a zip file</h4>
                                        <form ng-submit="$event.preventDefault()">
                                            <!-- <md-autocomplete 
                                            ng-disabled="isDisabled" 
                                            md-no-cache="true" 
                                            md-selected-item="selectedItem" 
                                            md-search-text-change="searchTextChange(searchText)" 
                                            md-search-text="searchText" 
                                            md-items="item in querySearch(searchText)"
                                            md-selected-item-change="selectedItemChange(item)" 
                                            md-item-text="item.sourceName" 
                                            md-min-length="0" 
                                            placeholder="Select a Data Source">
                                                <md-item-template> <span md-highlight-text="searchText" md-highlight-flags="^i" ng-click="selectedItemChange(item)">{{item.sourceName}}</span> </md-item-template>
                                                <md-not-found> No sources matching "{{searchText}}" were found. <a ng-click="newSource(searchText)">Create a new one!</a> </md-not-found>
                                            </md-autocomplete> -->
                                            <md-input-container class="md-block" flex>
                                                <label>Source</label>
                                                <md-select name="source" ng-model="file.source" ng-click="getSources()">
                                                    <md-option ng-repeat="source in sourceInfo" value="{{source.sourceCode}}">{{source.sourceName}}</md-option>
                                                </md-select>
                                            </md-input-container>
                                            <br>
                                            <md-input-container class="md-block">
                                                <label>Select Batch</label>
                                                <input required type="number" step="any" name="rate" ng-model="file.batch" min="1"
               max="100"/>
                                                <!-- <md-select name="type" ng-model="project.type" required>
                                                    <md-option value="app">Batch 1 </md-option>
                                                    <md-option value="web">Batch 2 </md-option>
                                                </md-select> -->
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>Enter your comments about the log files</label>
                                                <textarea ng-readonly="false" ng-model="file.comment" md-maxlength="100" rows="3" md-select-on-focus></textarea>
                                            </md-input-container>
                                            <!-- <div layout="column" flex>
                                                <md-content>
                                                    <lf-ng-md-file-input lf-submit-label="Upload" lf-files="files" lf-on-submit-click="onSubmitClick" submit ng-change="onSubmitFilesChange()" progress></lf-ng-md-file-input>
                                                </md-content>
                                            </div>
                                            <md-progress-linear md-mode="determinate" value="20"></md-progress-linear> -->
                                            <!--                      <div layout="row" layout-align="start center">-->
                                            <!--     <div ng-controller="AppCtrl">-->
                                            <!-- <div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="right">
                                                    <md-button class="md-raised md-primary" ng-click="showConfirm($event)">Upload</md-button>
                                                </div> -->
                                            <div ng-if="status" id="status">
                                                <b layout="row" layout-align="center center" class="md-padding">{{status}}</b>
                                            </div>
                                            <input type="file" name="file" id='file' onchange="angular.element(this).scope().uploadFile()"/>
                                            <input type='submit' value='Upload!' />
                                            <!--  </div>-->
                                            <!--                      </div>-->
                                            <p> </p>
                                        </form>
                                    </md-content>
                                </md-tab>
                                <md-tab label="Delete log">
                                    <md-content class="md-padding">
                                        <h4>Remove a file</h4>
                                        <form ng-submit="$event.preventDefault()">
                                            <md-autocomplete ng-disabled="isDisabled" md-no-cache="noCache" md-selected-item="selectedItem" md-search-text-change="searchTextChange(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in querySearch(searchText)" md-item-text="item.display" md-min-length="0" placeholder="Select a Data Source" required>
                                                <md-item-template> <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span> </md-item-template>
                                                <md-not-found> No sources matching "{{searchText}}" were found. <a ng-click="newState(searchText)">Create a new one!</a> </md-not-found>
                                            </md-autocomplete>
                                            <br>
                                            <md-input-container class="md-block">
                                                <label>Select Batch</label>
                                                <md-select name="type" ng-model="project.type" required>
                                                    <md-option value="app">Batch 1 </md-option>
                                                    <md-option value="web">Batch 2</md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>Comments about the log files</label>
                                                <textarea ng-readonly="false" ng-model="user.biography" md-maxlength="100" rows="3" md-select-on-focus>How many roads mus a man walk down
                                                </textarea>
                                            </md-input-container>
                                            <div layout="row" layout-align="start center">
                                                <md-button class="md-raised md-primary">Delete</md-button>
                                            </div>
                                            <p> </p>
                                        </form>
                                    </md-content>
                                </md-tab>
                            </md-tabs>
                        </md-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div flex> </div>
</div>
