<div layout="column" flex="90" flex-offset="5">
	<div class="box1" layout="column">
		<h2>Reports about Error/Warnings</h2>
		<hr>
		<div class="rows" layout-padding layout-margin><p><i class="fa fa-angle-right fa-2"></i><a href="http://10.146.58.17:8080/#/totalreport">Total level wise count of Error/Warning Report</a></p></div>
		<div class="rows" layout-padding layout-margin><p><i class="fa fa-angle-right fa-2"></i><a href="http://10.146.58.17:8080/#/itemreport">Item Level Report</a></p></div>
		<div class="rows" layout-padding layout-margin><p><i class="fa fa-angle-right fa-2"></i><a href="http://10.146.58.17:8080/#/metadatareport">Metadata Level Report</a></p></div>
		<div class="rows" layout-padding layout-margin><p><i class="fa fa-angle-right fa-2"></i><a href="http://10.146.58.17:8080/#/sourcereport">Source Level Report</a></p></div>

	</div>	
</div>