<div flex layout="row">
    <div layout="column" flex="90" flex-offset="5">
        <div class="modal-bg" ng-if="showSpinner" layout="column" layout-align="center center">
            <div layout="row" layout-align="center center">
                <!--<md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>-->
                <md-progress-linear md-mode="indeterminate" class="linear md-hue-4"></md-progress-linear>
            </div>
            <br>
            Loading...
        </div>
        <div class="modal-bg" ng-if="showBar" layout="column" layout-align="center center">
            <div layout="row" layout-align="center center">
                <!--<md-progress-linear md-mode="indeterminate" class="linear md-warn"></md-progress-linear>-->
                <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
            </div>
            <br>
            Loading...
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td>
                        <div layout="column">
                            <div layout="row" layout-align="end center">
                                <div flex="70">
                                    <h2>Source Level Error</h2>
                                </div>
                                <div flex="30" layout="row">
                                    <h4>&nbsp; Logged In as: {{username}}</h4>
                                    <span><md-button class="md-raised md-warn" ng-click="logout()">LogOut</md-button></span>
                                </div>
                            </div>
                            <hr>
                            <div layout="row">
                                <md-content style="overflow:hidden; margin-bottom:-1px">
                                    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                                        <md-nav-item md-nav-click="setChoice('informationCode');" name="page1">
                                            Information Code
                                        </md-nav-item>
                                        <md-nav-item md-nav-click="setChoice('handle');" name="page2">
                                            Handle Id
                                        </md-nav-item>
                                    </md-nav-bar>
                                </md-content>
                                <div flex layout-align="center center" layout="row" style=" background-color:#F6F5F9 ">
                                    <md-button ng-click="submitList();" class="md-raised md-primary">Submit</md-button>
                                </div>
                            </div>
                            <div>
                                <hr>
                                <p></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class=" md-api-table">
                            <tbody>
                                <tr>
                                    <th width="33%"> </th>
                                    <th width="33%" layout-align="center center">
                                        <div ng-if="(availableItems.length > 0) === true" class="csvButton" layout="row" layout-align="center center">
                                            <md-button class="md-raised" ng-csv="getArray" csv-header="getHeader()" filename="SourceReport.csv">Generate CSV </md-button>
                                        </div>
                                    </th>
                                    <th width="33%"> </th>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--  <div class="horizontal">
      <div ng-if= "(availableItems.length > 0) === true" class="csvButton">
        <button ng-click="generateCSV();">Generate CSV</button>
      </div>
    </div>-->
        <div layout="row">
            <div layout="column" flex="30" class="scrollable">
                <div ng-repeat="availableOption in availableOptions" ng-click="optionAttempted(availableOption)">
                    <div ng-class="(availableOption.isAttempted === true)?'pressed':'nonpressed'" layout="row" style="padding: 8px 10px; border-bottom: solid 1px #000;">
                        <span flex="85">{{availableOption.value}}</span>
                        <span flex="15" layout="row" layout-align="center center" class="roundcorner">{{availableOption.count}}</span>
                    </div>
                </div>
            </div>
            <div ng-if="rightListObtained === true" layout="column" flex="70">
                <!--table-->
                <div ng-if="flag == true && (availableItems.length > 0)" layout="row" class="heading">
                    <span flex="20">Count</span>
                    <span flex="50">Handle ID</span>
                    <span flex="30">Information Code</span>
                </div>
                <div ng-if="flag == false && (availableItems.length > 0)" layout="row" class="heading">
                    <span flex="25">Information Code</span>
                    <!--<span flex="65">Field Value</span>
                    <span flex="10">Count</span>-->
                </div>
                <div ng-if="true" class="scrollable">
                    <div ng-repeat="availableItem in availableItems" layout="column" style="padding-left: 15px;">
                        <!--tr-->
                        <!--Need to implement table structure using span and div-->
                        <div ng-if="flag === true" style="padding: 8px 10px; border-bottom: solid 1px #AFAFAF;" layout="row">
                            <span flex="20"><!--td-->{{availableItem.handleId.length}}<!--/td--></span>
                            <span flex="50">
                                <md-select name="handle" ng-model="handle" placeholder="{{availableItem.handleId[0]}}">
                                    <md-option ng-repeat="handle in availableItem.handleId track by $index" value="{{handle}}">{{handle}}</md-option>
                                </md-select>
                              <!--<div ng-repeat="handle in availableItem.handleId track by $index"> 
                                {{handle}}
                              </div>-->
                            </span>
                            <span flex="30">{{availableItem.informationCode}}</span>
                        </div>
                        <div ng-if="flag === false" style="padding: 8px 10px; border-bottom: solid 1px #AFAFAF;" layout="row">
                            <span flex="25"><!--td-->{{availableItem}}<!--/td--></span>
                            <span flex="60"><!--td-->{{availableItem.fieldvalue}}<!--/td--></span>
                            <span flex="15"><!--td-->{{availableItem.handleId}}<!--/td--></span>
                        </div>
                        <!--/tr-->
                    </div>
                </div>
                <!--/table-->
            </div>
        </div>
    </div>
</div>