<html lang="en" >
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="js/sourcelevel.js"></script>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Angular Material style sheet -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<!-- Your application bootstrap  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body ng-app="metadataapp" ng-cloak layout="column" ng-controller="sourceCtrl">
<!--
    Your HTML content here
  --> 

<!-- Angular Material requires Angular.js Libraries --> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script> 

<!-- Angular Material Library --> 
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<md-toolbar class="md-whiteframe-5dp topbar"  layout="row">
  <div flex="20" layout-padding> <img src="images/logo-lg-green.svg" alt=""/> </div>
  <div flex="80"> </div>
</md-toolbar>
<div flex layout="row">
  <div layout="column" flex="90" flex-offset="5"  >
   
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td>   
    <div layout="column">
      <h2>Source Level Error</h2>
      <hr>
      <div layout="row">
       
        <md-content style="overflow:hidden; margin-bottom:-1px">
    	<md-nav-bar
      			md-selected-nav-item="currentNavItem"
      			nav-bar-aria-label="navigation links">
      		<md-nav-item md-nav-click="setChoice('informationCode');" name="page1">
        		Information Code
      		</md-nav-item>
      		<md-nav-item md-nav-click="setChoice('handle');" name="page2">
        		Handle Id
      		</md-nav-item>
      </md-nav-bar>
      </md-content>
       
        <div flex layout-align="center center" layout="row" style=" background-color:#F6F5F9 " >
          <md-button ng-click="submitList();" class="md-raised md-primary">Submit</md-button>
        </div>
      </div>
      <div>
        <hr>
        <p></p>
      </div>
    </div></td>
    </tr>
    <tr>
      <td>  <table width="100%" border="0" cellspacing="0" cellpadding="0" class=" md-api-table">
        <tbody>
          <tr>
            <th width="33%"> </th>
            <th width="33%"  layout-align="center center"

> <div ng-if= "(availableItems.length > 0) === true" class="csvButton" layout="row" layout-align="center center"



>
                <md-button class="md-raised"  ng-click="generateCSV();">Generate CSV </md-button>
              </div>
              
              
              
            </th>
            <th width="33%"> </th>
          </tr>
         
        </tbody>
      </table
      
      
      
      ></td>
    </tr>
  </tbody>
</table>

	<!--	<div class="horizontal">
			<div ng-if= "(availableItems.length > 0) === true" class="csvButton">
				<button ng-click="generateCSV();">Generate CSV</button>
			</div>
		</div>-->
  		<div layout="row">
			<div layout="column" flex="30">
				<div ng-repeat="availableOption in availableOptions" ng-click="optionAttempted(availableOption)">
				<div ng-class="(availableOption.isAttempted === true)?'pressed':'nonpressed'" layout="row" style="padding: 8px 10px; border-bottom: solid 1px #000;">
				<span flex="85"  >{{availableOption.value}}</span> 
				<span flex="15" layout="row" layout-align="center center" class="roundcorner">{{availableOption.count}}</span>
				</div>
				</div>
			</div>
			
		 
			
			<div ng-if="rightListObtained === true"  layout="column" flex="70">
				<!--table-->
				<div ng-if="true" >
					<div ng-repeat="availableItem in availableItems" layout="column" style="padding-left: 15px;" >
					<!--tr-->
					<!--Need to implement table structure using span and div-->
					<div ng-if="flag === true" style="padding: 8px 10px; border-bottom: solid 1px #AFAFAF;" layout="row">
						<span flex="30"><!--td-->count: {{availableItem.length}}<!--/td--></span>
						<!--span><!--td>{{availableItem.informationCode}}<--/td></span-->
						<span flex="70">
							<div ng-repeat="x in availableItem track by $index"> 
								{{x}}
							</div>
						</span>
					</div>
					<div ng-if="flag === false" style="padding: 8px 10px; border-bottom: solid 1px #AFAFAF;" layout="row">
						<span  flex="25"><!--td-->{{availableItem.informationCode}}<!--/td--></span>
						<span  flex="60"><!--td-->{{availableItem.fieldvalue}}<!--/td--></span>
						<span  flex="15"><!--td-->{{availableItem.handleId}}<!--/td--></span>
					</div>
					<!--/tr-->
					</div>
				</div>

				<!--/table-->
			</div>
		</div>
     
    
      
      
     
  </div>
  <div flex> </div>
</div>
<!--<div class="footer" layout-align="center center" layout="row">
  <div>&copy; Copyright 2017 National Digital Library of India</div>
</div>-->
</body>
</html>
